html, body {
  background-color: #fff;
}
.hide {
  display: none;
}
.flex {
  display: flex;
}
/****************************************************************
*****************HOME********************************************
****************************************************************/
.loginButton {
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 25px;
  margin-top: 20%;
  background-color: #ff5252;
}
.logo {
  width: 20%;
  margin: 50px 40%;
}
.logo img {
  width: 100%;
}
.redBackground {
  background-color: #ff5252;
  width: 100%;
  min-height: 300px;
}
.redBackground h1,
.redBackground h2,
.redBackground h3,
.redBackground h4 {
  color: #fff;
}
.searchSongForm input {
  width: 70%;
  height: 25px;
  margin-bottom: 20px;
  text-align: center;
}
ul {
  width: 70%;
  margin: 0 15%;
  list-style: none;
  padding: 0;
}
.searchSongForm ul a {
  text-decoration: none;
}
.searchSongForm ul li {
  text-align: left;
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  color: #000;
}
.searchSongForm ul li p {
  margin: 0;
}
.searchSongForm ul li p:first-child {
  font-weight: bold;
  margin-top: 10px;
}
.searchSongForm ul li p:last-child {
  margin-bottom: 10px;
}
.searchSongForm ul li .imgTrack {
  width: 20%;
  height: 60px;
  border: 1px solid #000;
}
.searchSongForm ul li .songInfo {
  width: 45%;
  margin-left: 5%;
  overflow: hidden;
}
.searchSongForm ul li .chooseButton {
  width: 25%;
  margin-right: 5%;
}
.searchSongForm ul li button {
  width: 100%;
  height: 25px;
  background-color: #0ad8f1;
  border: none;
  margin-top: 15%;
  border-radius: 15px;
}

/****************************************************************
*****************CONFIGURATION***********************************
****************************************************************/
.createPlaylistForm input {
  width: 70%;
  height: 25px;
  text-align: center;
}
.createPlaylistForm button {
  width: 25%;
  height: 30px;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  background-color: #0ad8f1;
}

.ChoosePLaylists ul a {
  text-decoration: none;
}
.ChoosePLaylists ul li {
  text-align: center;
  width: 50%;
  min-height: 40px;
  background-color: #fff;
  margin: 20px 25% 0 25%;
  color: #000;
}
.ChoosePLaylists ul li p {
  width: 70%;
}
.ChoosePLaylists ul li .chooseButton {
  width: 25%;
  margin-right: 5%;
}
.ChoosePLaylists ul li button {
  width: 100%;
  height: 25px;
  background-color: #0ad8f1;
  border: none;
  margin-top: 22%;
  border-radius: 15px;
}


/****************************************************************
*****************TRACK**ADDED************************************
****************************************************************/
.forms {
  width: 30%;
}

.postPhoto {
  margin-top: 20px;
  border-top: 1px solid #777;
}
.postPhoto form {
  margin-top: 10px;
}
.postPhoto img {
  width: 90%;
}
